.midi-devices {
  margin-left: 16px;
  margin-right: 16px;
}

.input-devices {
  margin-left: 16px;
  margin-right: 16px;
}

/* midi-device */
.midi-device {
  display: flex;
  height: 64px;
  line-height: 64px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.midi-device-active {
  color: white;
}

.midi-device-id {
  display: none;
}

.midi-device-icon {
  width: 64px;
  text-align: center;
}

.midi-device-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.midi-device-options {
  margin-left: auto;
  width: 64px;
  text-align: center;
}

/* audio-device */
.audio-device {
  display: flex;
  height: 64px;
  line-height: 64px;
}

.audio-device-id {
  display: none;
}

.audio-device-icon {
  width: 64px;
  text-align: center;
}

.audio-device-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.audio-device-options {
  margin-left: auto;
  width: 64px;
  text-align: center;
}
