body {
  background-color: #F9F9F9;
  margin: 0px;
  font-family: Helvetica;
}

/* ---------------- */

#header-container {
  width: 100%;
  background-color: #303030;
}

#header {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  height: 96px;
}

#title {
  font-size: 30px;
  line-height: 96px;
  color: white;
}

#content-container {
  width: 100%;
}

#content {
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

/* ---------------- */

span.section-header {
  font-size: 30px;
  font-weight: bold;
  display: block;
  margin-bottom: 32px;
}

#commands {
  margin-left: 16px;
}

div.command {
  margin-bottom: 32px;
}

span.command-rule {
  font-family: Menlo;
  font-size: 16px;
}

p.command-description {
  font-size: 16px;
}

#units {
  margin-left: 16px;
}

div.unit {
  margin-bottom: 32px;
}

span.unit-name {
  font-family: Menlo;
  font-size: 24px;
}

p.unit-description {
  font-size: 16px;
}

table.unit-parameters td {
  font-family: Menlo;
  font-size: 16px;
  width: 256px;
}
