@font-face {
    src: url('../fonts/museosans-500.otf');
}

.content {
    -fx-background-color: linear-gradient(to bottom right, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    -fx-font-family: 'Museo Sans';
    -fx-padding: 16;
}
