.node-info {
  -fx-background-color: rgba(0, 0, 0, 0.24);
  -fx-font-size: 16;
  -fx-padding: 16;
  -fx-spacing: 16;
  /*-fx-font-family: 'Museo Sans'; /* TODO: remove this */
}

.node-info-id {
  -fx-text-fill: white;
  -fx-font-size: 20;
}

.scroll-pane, .viewport {
  -fx-padding: 0;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-background-color: transparent;
  -fx-border-width: 0;
  -fx-min-width: 256;
  -fx-pref-width: 256;
}

.node-input-container {
  -fx-spacing: 8;
}

.node-input-item .label {
  -fx-min-width: 120;
  -fx-pref-width: 120;
  -fx-pref-height: 48;
  -fx-text-fill: white;
  -fx-padding: 0 8 0 0;
}

.node-input-item .text-field {
  -fx-min-width: 128;
  -fx-pref-width: 128;
  -fx-pref-height: 36;
  -fx-padding: 0 8 0 8;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-background-color: rgba(255, 255, 255, 0.24);
  -fx-text-fill: white;
}

.node-input-item .text-field.invalid {
  -fx-border-color: rgba(255, 0, 0, 0.5);
  -fx-border-width: 2;
}

.node-input-item {
  -fx-pref-height: 48;
  -fx-alignment: center;
}
