/* midi-device */
.midi-device {
  display: flex;
  height: 64px;
  line-height: 64px;
}

.midi-device-icon {
  width: 64px;
  text-align: center;
}

.midi-device-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.midi-device-options {
  margin-left: auto;
  width: 64px;
  text-align: center;
}

/* output-device */
.output-device {
  display: flex;
  height: 64px;
  line-height: 64px;
}

.output-device-icon {
  width: 64px;
  text-align: center;
}

.output-device-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.output-device-options {
  margin-left: auto;
  width: 64px;
  text-align: center;
}
