* { margin: 0px; padding: 0px; }
html, body { height: 100%; }

body {
  width: 100%;
  overflow-y: auto;
  color: #f9f9f9;
  font-family: Museo Sans;
  font-size: 16px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.12);
}

#content {
  min-height: 100%;
  /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
  background: linear-gradient(141deg, #a94442 0%, #8a6d3b 51%, #31708f 75%)
  /*background: linear-gradient(141deg, #0f72b8 0%, #47d1ff 51%, #46f1f5 75%);*/
}

.tile {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
  position: relative;
  margin: 16px;
  margin-bottom: 0px;
}

.tile-separator {
  height: 1px;
  background: rgba(255, 255, 255, 0.25);
  margin-left: 16px;
  margin-right: 16px;
}

.tile-header {
  width: 100%;
  line-height: 48px;
  text-align: center;
}

.content-header {
  width: 100%;
  text-align: center;
  height: 64px;
  line-height: 64px;
  font-size: 24px;
}

/* toolbar */
.toolbar {
  display: flex;
  height: 64px;
  line-height: 64px;
}

.toolbar-button {
  width: 64px;
  text-align: center;
}

.toolbar-input {
  margin-left: 16px;
  margin-right: 16px;
  padding-left: 8px;
  padding-right: 12px;
  margin-top: 12px;
  height: 40px;
  line-height: 40px;
  background: rgba(255, 255, 255, 0.24);
}

.toolbar-input input {
  height: 32px;
  background: rgba(255, 255, 255, 0.0);
  border: 0;
}

.toolbar-input input:focus {
  outline: none;
}

/* controls */
.controls {
  display: flex;
}

.controls-button {
  flex: 1 1 auto;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 20px;
}

.vertical-separator {
  width: 1px;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.12);
}

/* list items */

.list-item {
  cursor: pointer;
}

.list-item:hover {
  background: rgba(255, 255, 255, 0.24);
}

.list-item-selected, .list-item-selected:hover {
    background: rgba(0, 0, 0, 0.24);
    cursor: default
}

/* buttons */
.button {
  cursor: pointer;
}

.button:hover {
  background: rgba(255, 255, 255, 0.24);
}

.button-pressed, .button-pressed:hover {
  background: rgba(0, 0, 0, 0.24);
  cursor: default;
}

/* overwrite some bootstrap */
.row-no-padding > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.label {
  margin: 0px;
  padding: 0px;
}
