.unit-panels {
  display: flex;
}

.unit-container {
  width: 50%;
  max-height: 640px;
  overflow-y: scroll;
}

.unit {
  display: flex;
  height: 64px;
  line-height: 64px;
}

.unit-type {
  color: #ff9933;
  margin-left: 16px;
}

.unit-type-key-dependent .unit-type { color: #99ff33; }
.unit-type-parameter .unit-type { color: #ffff33; }

.unit-id {
  margin-left: 16px;
}

.unit-parameter-container {
  width: 50%;
  /*background: rgba(0, 0, 0, 0.24);*/
}

.unit-parameter {
  display: flex;
  height: 64px;
  line-height: 64px;
}

.unit-parameter-label {
  margin-left: 16px;
  width: 50%;
}

.unit-parameter-value {
  width: 50%;
}

.unit-parameter-input {
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 12px;
  margin-right: 16px;
  height: 40px;
  line-height: 40px;
  background: rgba(255, 255, 255, 0.24);
}

.unit-parameter-input input {
  width: 100%;
  height: 32px;
  background: rgba(255, 255, 255, 0.0);
  border: 0;
}

.unit-parameter-input input:focus {
  outline: none;
}
