.menu {
  -fx-background-color: color-background-menu;
  -fx-padding: 0;
  /*-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 2, 2); TODO */
}

.menu .button {
  -fx-min-width: 64;
  -fx-pref-width: 100000000; /* TODO: change to Double.MAX */
  -fx-min-height: 64;
  -fx-pref-height: 64;
  -fx-alignment: center;
}

/*#buttonNew { -fx-background-image: url('../img/menu/new.png'); }
#buttonOpen { -fx-background-image: url('../img/menu/open.png'); }
#buttonSave { -fx-background-image: url('../img/menu/save.png'); }
#buttonPlay { -fx-background-image: url('../img/menu/play.png'); }
#buttonPlay.playing { -fx-background-image: url('../img/menu/stop.png'); }
#buttonSettings { -fx-background-image: url('../img/menu/settings.png'); }

#buttonComponents { -fx-background-image: url('../img/menu/grid.png'); }
#buttonDevices { -fx-background-image: url('../img/menu/volumeup.png'); }*/
