.option-window {
  -fx-background-color: color-background-main;
  -fx-padding: 16;
  -fx-spacing: 16;
}

.options-list {
  -fx-spacing: 8;
}

.options-list .list-item-text-field .label,
.options-list .list-item-text-field .text-field,
.options-list .list-item-choice-box .label,
.options-list .list-item-choice-box .choice-box {
  -fx-min-width: 160;
  -fx-pref-width: 160;
}

.option-button-container {
  -fx-spacing: 16;
  -fx-alignment: top-right;
}

.option-button-container .button {
  -fx-pref-width: 72;
}
