#oscilloscope {
  width: 480px;
  height: 360px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#nodes {
  display: flex;
}

#node-list {
  width: 50%;
  margin-right: 16px;
}

#node-list > div {
  line-height: 32px;
  padding-left: 8px;
  cursor: pointer;
}

#node-list > div:hover {
  background-color: var(--base05);
}

#node-info {
  width: 50%;
}

.controls {
  display: flex;
  justify-content: space-around;
  margin: 8px 0px 8px 0px;
}

.controls > div {
  width: 32px;
  height: 32px;
  line-height: 32px;
  background-color: var(--base02);
  border-radius: 16px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
  cursor: pointer;
}

.controls > div.disabled { opacity: 0.5; cursor: initial; }

.controls > div:not(.disabled):hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.controls > div > span { vertical-align: -1px; }

#command-prompt {
  display: flex;
}

#command-prompt .symbol {
  width: 16px;
  height: 26px;
  background-color: var(--base07);
  color: var(--base02);
}

#command-prompt .symbol span::before {
  content: '>';
}

#command-prompt .symbol span {
  font-family: Monaco, Consolas;
  line-height: 26px;
  margin-left: 8px;
}

#command-prompt .input {
  flex-grow: 1;
}

#command-prompt input {
  width: 100%;
  text-align: left;
  font-family: Monaco, Consolas;
}

#command-prompt input[disabled] {
  color: var(--base04);
}

#command-result {
  margin-top: 16px;
  font-family: Monaco, Consolas;
  white-space: pre;
}
