#button-restart {
  background-color: var(--base0D);
  margin-right: 16px;
}

#button-exit {
  background-color: var(--base08);
}

.button-row {
  display: flex;
  height: 64px;
  line-height: 64px;
  font-size: 16px;
  flex-direction: row-reverse;
  margin-top: 16px;
  margin-bottom: 16px;
}

#control-knobs {
  margin-left: 32px;
  margin-bottom: 24px;
}

.knob {
  width: 48px;
  height: 48px;
}

.knob .caption {
  color: var(--base06);
}

.note {
  line-height: 32px;
  text-align: center;
  /*color: rgb(165, 72, 72);*/
  color: red;
  opacity: 0.333;
}
