#oscilloscope {
  width: 480px;
  height: 360px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#nodes {
  display: flex;
}

#node-list {
  width: 50%;
  margin-right: 16px;
}

#node-list > div {
  line-height: 32px;
  padding-left: 8px;
  cursor: pointer;
}

#node-list > div:hover {
  background-color: var(--base05);
}

#node-info {
  width: 50%;
}
