.keyboard {
  position: relative;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.20);
  background-color: rgba(0, 0, 0, 0.10);
}

.keyboard .key {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.keyboard .black {
  position: absolute;
  background-color: var(--base02);
  height: 75%;
  z-index: 1;
}

.keyboard .white {
  position: absolute;
  background-color: white;
  height: 100%;
}

.keyboard .black.pressed { background-color: var(--base0D); }
.keyboard .white.pressed { background-color: var(--base0D); }
