/* colors */

/* https://chriskempson.github.io/base16/ */
:root {
  --base00: #2d2d2d;
  --base01: #393939;
  --base02: #515151;
  --base03: #747369;
  --base04: #a09f93;
  --base05: #d3d0c8;
  --base06: #e8e6df;
  --base07: #f2f0ec;
  --base08: #f2777a;
  --base09: #f99157;
  --base0A: #ffcc66;
  --base0B: #99cc99;
  --base0C: #66cccc;
  --base0D: #6699cc;
  --base0E: #cc99cc;
  --base0F: #d27b53;
}

/*:root {
  --base00: #2C3E50;
  --base01: #34495E;
  --base02: #7F8C8D;
  --base03: #95A5A6;
  --base04: #BDC3C7;
  --base05: #e0e0e0;
  --base06: #f5f5f5;
  --base07: #ECF0F1;
  --base08: #E74C3C;
  --base09: #E67E22;
  --base0A: #F1C40F;
  --base0B: #2ECC71;
  --base0C: #1ABC9C;
  --base0D: #3498DB;
  --base0E: #9B59B6;
  --base0F: #be643c;
}*/

/* for reasons */
html, body { min-height: 100%; }

/* default colors and fonts */
body {
  background-color: var(--base07);
  font-family: Museo Sans;
  color: var(--base01);
}

/* standard classes */
.centered {
  width: 512px;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  font-size: 24px;
  line-height: 64px;
  color: var(--base01);
}

.page-title > .glyphicon {
  vertical-align: -3px;
  margin-right: 8px;
}

.header {
  font-size: 16px;
  line-height: 32px;
  color: var(--base05);
}

.toggle-box {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: var(--base04);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.toggle-box .title {
  height: 64px;
  line-height: 64px;
  padding-left: 16px;
  color: white;
  font-size: 16px;
}

.toggle-box .title span {
  margin-right: 16px;
}

.toggle-box .content {
  padding: 0px 16px 16px 16px;
  display: none;
  color: white;
}

.button {
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  color: var(--base07);
  font-size: 24px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--base04);
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.button > .glyphicon {
  vertical-align: -2px;
}

label {
  margin: 0px;
  cursor: pointer;
  font-weight: normal;
}

.input-line {
  line-height: 32px;
}

.input-line > span {
  display: inline-block;
  width: 192px;
}

.grid {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.grid > .block {
  position: relative;
  border: 1px solid var(--base05);
  border-radius: 8px;
}

.grid > .block > .caption {
  position: absolute;
  left: 0px;
  top: 100%;
  width: 100%;
  margin-top: -9px;
  text-align: center;
  color: var(--base04);
  font-size: 13px;
}

.grid > .block > .caption > span {
  display: inline-block;
  background-color: var(--base07);
  /*border: 1px solid var(--base05);*/
  border-radius: 2px;
  padding-left: 2px;
  padding-right: 2px;
}

/* input */
input[type=checkbox] {
  display: none;
}

input[type=checkbox] + span {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: var(--base05);
  border-radius: 2px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 14px;
  color: var(--base01);
}

input[type=checkbox] + span > span { margin-top: 3px; /* TODO: ? */ opacity: 0.0; }
input[type=checkbox]:checked + span > span { opacity: 1.0; }

input[type=radio] {
  display: none;
}

input[type=radio] + span {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: var(--base05);
  border-radius: 16px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 19px;
  color: var(--base01);
}

input[type=radio] + span > span { opacity: 0.0; }
input[type=radio]:checked + span > span { opacity: 1.0; }

input[type=text] {
  background-color: var(--base07);
  border: 0;
  outline: none;
  color: var(--base01);
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  height: 26px;
}

/* 'HUD' */
#navigation {
  position: absolute;
  display: flex;
  right: 16px;
  bottom: 16px;
}

#navigation > .button {
  margin-left: 16px;
}

#master-volume {
  position: absolute;
  left: 16px;
  bottom: 16px;
  width: 256px;
  height: 32px;
  line-height: 32px;
  color: var(--base04);
}

#master-volume .volume {
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;
  background-color: var(--base05);
  width: 128px;
  height: 24px;
  cursor: pointer;
}

#master-volume .volume > div {
  width: 50%;
  height: 24px;
  background-color: var(--base04);
}
